.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 18px;
    padding: 92px 50px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    width: 391.48px;
    height: 22px;
}

.header__links-list {
    display: flex;
    gap: 32px;
}

.header_link-list-item {
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 4px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link_active {
    text-decoration: none;
}

.header__link {
    border-bottom: 1px solid #000;
    text-decoration: none;
}

.header__logo {
    display: flex;
    justify-content: center;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 130px;
    height: 105px;
}

.header__address {
    justify-self: end;
}

.address {
    width: 240px;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
}

.address__link {
    border-bottom: 1px solid;
    text-decoration: none;
}

.content-section {
    box-sizing: border-box;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

.cover {
    position: relative;
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-transform: uppercase;
}

.overlay {
    top: 0;
    right: 0;
    left: 0px;
    bottom: 0px;
    position: absolute;
    z-index: 1;
    background-color: rgb(0 0 0/0.6);
}

.cover__title {
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.title__block {
    display: block;
    margin-bottom: 20px;
}

.aligned-text_center {
    text-align: center;
    padding-left: 5px;
}

.aligned-text_right {
    text-align: right;
    margin-left: 200px;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.letter-middle-spacing-extended {
    letter-spacing: 22px;
}

.letter-small-spacing-extended {
    letter-spacing: 22px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-top: 106px;
}

.cover__text {
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    z-index: 3;
}

.cover__description-text {
    text-align: center;
    word-spacing: 18.5px;
}

.bet-button {
    width: 257px;
    height: 52px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 12px 32px;
    z-index: 4;
}

