.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 18px;
    padding: 92px 50px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.header__links-list {
    display: flex;
    gap: 28px;
}

.header__links-list-item {
    list-style: circle;
    padding-left: 5px;
}

.links-list-style_no-bullit {
    list-style-type: none;
}

.header__link {
    border-bottom: 1px solid #000;
    text-decoration: none;
}

.header__link_active {
    text-decoration: none;
    border-bottom: none;
}

.header__logo {
    display: flex;
    justify-content: center;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 134px;
    height: 106px;
}

.header__address {
    justify-self: end;
}

.address {
    width: 240px;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
}

.address__link {
    border-bottom: 1px solid;
    text-decoration: none;
}

.content-section {
    box-sizing: border-box;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

.cover {
    font-family: Raleway, sans-serif;
    padding: 171px 50px 50px;
    position: relative;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.overlay {
    inset: 0;
    position: absolute;
    z-index: 1;
    background-color: rgb(0 0 0/0.6);
}

.cover__title {
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.title__block {
    display: block;
}

.margin-twenty {
    margin-bottom: 20px;
}
.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.aligned-text_center {
    text-align: center;
    margin-left: 28px;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-style: normal;
    line-height: 28px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    padding-top: 104px;
}

.cover__description-text {
    word-spacing: 18.54px;
}

.bet-button {
    box-sizing: border-box;
    width: 257px;
    height: 51px;
    padding: 12px 32px;
    line-height: normal;
    font-size: 22px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    background-color: transparent;
}

.lots {
    padding: 180px 24px 0;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 27px;
    list-style: none;
    gap: 25px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    flex-grow: 1;
}

.card-link {
    text-decoration: none;
    display: block;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #fff;
    z-index: 2;
}

.card__text {
    color: #fff;
    line-height: 120%;
    display: inline-block;
    text-decoration: none;
    z-index: 2;
}

.lots__look-more-link {
    display: block;
    margin-left: 40px;
    padding-top: 30px;
    text-underline-offset: 4px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    align-items: center;
    padding: 152px 24px;
}

.about__column {
    display: block;
    align-self: start;
    justify-self: center;
}

.about__logo {
    display: block;
    padding-top: 8px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    padding-top: 102px;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 76px;
}

.about__text {
    padding-top: 24px;
    line-height: 24px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    font-size: 18px;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 82px;
}

.footer__address {
    justify-self: start;
}
.footer__menu {
    display: flex;
    justify-self: center;
    align-self: start;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__menu-link {
    border-bottom: 1px solid #000;
    text-decoration: none;
}

.footer__menu-link_active {
    text-decoration: none;
    border-bottom: none;
}

.footer__social-list {
    display: flex;
    align-items: start;
    justify-content: end;
}

.footer__social-list-item {
    display: block;
    padding-right: 48px;
}

.footer__social-icon {
    display: flex;
    width: 48px;
    height: 48px;
}